body{
    background-image: url('../IMG/BackGound.jpg');
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: 100%;
}
header{
    margin-top:20px;
}
#container{
    background-color: bisque;
    background-size: 100%;
    padding: 2em;
    border-radius: 10px;
}

h1{
    text-align: center;
    color: white;
}


ul  {
    margin: auto;
    padding-bottom: 45px;
}

#container li{
    font-size: x-large;
    list-style-type: none;
    float: right;
    padding-right: 50px;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color: grey;
}

#DS{
    border-radius: 10PX;
}

.bedimg{
    text-align: center;
    float: left;
    width: 33.3%;
    box-sizing:border-box;
    padding-left: 20px;
    padding-right: 20px;
}

footer{
    margin-top: 130%;
    padding-top: 2em;
    padding-bottom:5em;
    background-color: bisque;
    border-radius: 10px;
}

.column{
    float: left;
    padding-left: 18%;    
    width: 15%;
    box-sizing:border-box;
}

.infomation{
    color:white;
    font-weight: bolder;
    font-size: large;
    float: left;
    text-align: left;
 }

 .top a{
     color: lightcoral;
 }

 html{
    scroll-behavior: smooth;
 }


